<div class="container">
  <h1>Edit Your Profile</h1>

<%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.button :submit, class:"btn btn-primary" %>

    <%# <p><%= link_to ????, root_path %>
<% end %>
</div>
