<!-- Top Banner Titles -->
<div class="banner-title">
  <h1>Clean Kut's</h1>
  <p>Your barber around the corner</p>
</div>
<!-- Search bar -->
<%= render 'shared/searchbar' %>
<!-- Barber section -->
<div class="barbers-container">
  <h2>We found <%=@barbers.count %> barbers</h2>
  <div class="barber-cards">
    <% @barbers.each do |barber|%>
      <div class="barber-card">
        <div class="barber-avatar">
          <% if barber.photo.attached? %>
            <%= cl_image_tag barber.photo.key %>
          <% else %>
            <%= image_tag "missing.png" %>
          <% end %>
        </div>
        <div class="barber-infos">
          <div class="d-flex justify-content-between border">
            <h3><%= link_to barber.full_name, barber %></h3>



          <% if @chatroom.nil? %>
              <%= link_to new_chatroom_path(recipient_id: barber.id) do %><i class="far fa-comment"></i><% end %>
            <% else %>
              <%= link_to chatroom_path(@chatroom, recipient_id: barber.id) do %><i class="far fa-comment"></i><% end %>
          <% end %>

          </div>


          <div class="barber-location"><i class="fas fa-map-marker-alt"></i><span><%= barber.address %></span></div>
          <p><%= barber.description %></p>
          <div class="mt-1">
            <% barber.average_rating.times do %>
              <i class="fas fa-star "></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="map" class="map"
  style="margin-top: 10%; width: 100%; height: 500px; border-radius: 8px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
