<!-- test only  -->
  <!-- <div class="window-popup appear" id="window-popup"> -->
  <!-- real div to put -->

<div class="window-popup change" id="window-popup">
    <div class="window-content">
      <div class="header container">
        <h1>BOOKING</h1>
      </div>
      <p>Day: whenever</p>
      <p>Time: same shit here</p>
      <div class="window-in"><p>Kut Beard Both RipMEfACE</p>
        <div class="row">
          <div class="col-6">
            <div class="confirm">
            <%= link_to "Confirm", class:"booking-button"%>
            </div>
          </div>
          <div class="col-6">
            <div class="cancel">
              <%= link_to "Cancel" %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Barber dashboard -->
<div class="barber-dashboard">
  <div class="barber-profile-card">
    <div class="barber-name">
      <h2><%= @barber.full_name %></h2>
      <%= link_to 'Edit Profile', edit_user_path if current_user == @barber %>
    </div>
    <div class="top-barber-card-info">
      <div class="profile-info">
        <div class="phone"><i class="fas fa-phone-alt"></i>
          <%= @barber.phone_number %>
        </div>
        <div class="address"><i class="fas fa-city"></i>
          <%= @barber.address %>
        </div>
        <div class="email"><i class="far fa-envelope"></i>
          <%= @barber.email %>
        </div>
        <div class="description">
          <h4>About me:</h4>
          <%= @barber.description %>
        </div>
      </div>
      <%= link_to "Review me", new_user_review_path(@barber) %>
      <div class="barber-avatar-lg">
        <% if @barber.photo.attached? %>
          <div class="picture"><%= cl_image_tag @barber.photo.key, :class => "photo" %></div>
        <% end %>
      </div>
    </div>
  </div>
    <%# TEMP LINK TO CREATE or REJOIN CHATROOM - STEPH %>
    <div class="create-chatroom">
      <% if @previous_chat %>
        <%= link_to "Keep chatting", chatroom_path(@chatroom, recipient_id: @barber.id) %>
      <% else %>
        <%= link_to "Chat with #{@barber.first_name.capitalize}", new_chatroom_path(recipient_id: @barber.id) %>
      <% end %>
    </div>
  </div>
</div>

  <!-- button to book an appointment -->
  <div class="booking-button">
    <%= link_to "Book Now", new_appointment_path(@barber), class: "btn btn-gradient booking-button" %> <i class="fas fa-calendar-alt"></i>
  </div>



<!-- tab with reviews and services -->
  <%= render 'shared/tabs_barber_profile' %>
</div>
