
<div class="container">
      <li><%= @barber.first_name %></li>
      <li><%= @barber.last_name %></li>
      <li><%= @barber.email %></li>
      <li><%= @barber.phone_number %></li>
</div>

  <%= link_to 'Barbers', users_path %>
