
<div class="container">
  <h1><%= @barber.first_name %>
  <%= @barber.last_name %> </h1>

  <p><%= @barber.email %></p>
    <p><%= @barber.phone_number %></p>
</div>

  <%= link_to 'Barbers', users_path %>
