<% content_for :meta_title, "#{@barber.full_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @barber.description %>
<% content_for :meta_image, cl_image_path("https://d15zsgzz0klz55.cloudfront.net/ca/business_placeholders/barbers-e758256ebf4d4360b3f1806d9a737219.barbers") %>

<!-- Barber dashboard -->
<div class="barber-dashboard">
  <div class="barber-profile-card">
    <div class="top-barber-card-info">
      <div class="barber-name">
        <h2><%= @barber.full_name %></h2>
        <%= link_to 'Edit Profile', edit_user_path if current_user == @barber %>
      </div>
      <div class="info-avatar-container">
        <div class="profile-info">
          <div class="phone"><i class="fas fa-phone-alt"></i>
            <%= @barber.phone_number %>
          </div>
          <div class="address"><i class="fas fa-city"></i>
            <%= @barber.address %>
          </div>
          <div class="email"><i class="far fa-envelope"></i>
            <%= @barber.email %>
          </div>
          <div class="icon">
            <div class="barber">
              <% @barber.review.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="barber-avatar-lg">
          <% if @barber.photo.attached? %>
            <div><%= cl_image_tag @barber.photo.key, :class => "photo" %></div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @barber.barber? %>
      <div class="description">
        <h4>About me</h4>
        <div>
          "<%= @barber.description %>"
        </div>
      </div>
    <% end %>
    <%# TEMP LINK TO CREATE or REJOIN CHATROOM - STEPH %>
    <% if @barber.barber? %>
      <div class="d-flex justify-content-between barber-actions">
        <div class="create-chatroom d-flex align-items-center">
          <i class="far fa-comment"></i>
          <% if @previous_chat %>
            <%= link_to "Keep chatting", chatroom_path(@chatroom, recipient_id: @barber.id) %>
          <% else %>
            <%= link_to "Chat with #{@barber.first_name.capitalize}", new_chatroom_path(recipient_id: @barber.id) %>
          <% end %>
        </div>
        <div class="d-flex align-items-center">
          <i class="fas fa-edit"></i><%= link_to "Write a review", new_user_review_path(@barber) %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- button to book an appointment -->
  <% if @barber.barber? %>
    <div class="book-now booking-button">
      <%= link_to "Book Now", new_appointment_path(@barber), class: "btn btn-gradient" %> <i class="fas fa-calendar-alt"></i>
    </div>
    <!-- tab with reviews and services -->
    <%= render 'shared/tabs_barber_profile' %>
  <% elsif @barber.client?  %>
    <%= render :partial => "shared/tabs_client_profile" %>
  <% end %>
</div>
