<div class="reviews-services" id="reviews-services">
  <div class="part1 d-flex">
    <div class="reviews active tab" id="reviews">
      Reviews
    </div>
    <div class="services tab" id="services">
      Services
    </div>
  </div>
  <div class="part2">
    <div class="reviews_section appear" id="spot">
      <% @barber.reviews.each do |r| %>
        <div class="review-card">
          <p><%= r.comment %></p>
          <p><%= r.rating %></p>
        </div>
      <% end %>
    </div>
    <div class="services_section" id="spot-service">
      <div class="services-container">
        <% @barber.services.each do |service| %>
          <div class="services-card">
            <div class="cut-type">
              <%= image_tag "Scissors.png" %>
              <div>
                <p><%= service.cut_type %></p>
              </div>
            </div>
            <div class="price">
              <%= image_tag "Payment.png" %>
              <div>
                <p>$<%= service.price %>.00</p>
              </div>
            </div>
            <div class="duration">
              <%= image_tag "Clock.png" %>
              <div>
                <p><%= service.duration/60 %> minutes</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
