<div class="container nav1">
  <div class="row justify-content-center">
    <div class="col-3-sm">
      <h1>CLEAN KUT'S</h1>
    </div>
  </div>
</div>

<div class="image"></div>
<!-- IMPLEMENT A SEARCH BAR -->
<!-- search bar -->
<div class="container location">
  <div class="row justify-content-center">
    <div class="col-3-sm">
      <div class=search-bars>
      <!-- search-bar -->
        <div  id="location">
        <p>SEARCH
          <i class="fas fa-search-location search_icon"></i>
        </p></div>
        <!--end search-bar -->
      </div>
    </div>
  </div>
</div>


<!-- part2 -->
<div class="part2">
<!--  Deck of 5 cards-->

      <h2> TOP 5 BARBERS NEAR YOU</h2>
    </div>
  </div>
</div>

<div >
  <% @barbers.first(5).each do |f| %>

      <!-- on the left: side: image picture of the barber   -->

        <img src="#" alt="">

    <div class="card">
      <div class="row">
        <div class="col-sm-1">
        </div>


        <div class="col-sm-4">
            image
        </div>
        <div class="col-sm-4">
          <div class="container ">
            <p><%= f.first_name %> <%= f.last_name %></p>
            <p><%= f.description %></p>
          </div>
      <!-- in the middle: info to put in the card are: barber name barber.description barber.rating no rating so far -->
      </div>
    <div class="col-sm-3">
       <div class="row">
        <i class="fas fa-heart"></i>
        <!-- bubble for chat with the barber -->
        </div>
        <div class="row">
        <i class="far fa-comment"></i>
        <!-- marker to locate the barber on a map   -->
        </div>
        <div class="row">
        <i class="fas fa-map-marker-alt"></i>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
<% end %>
</div>
<!--  end Deck of 5 cards-->

<div class="footer container">

  <div class="row justify-content-center">
    <div class="col-sm-6 back">
      <%= link_to :back do %><i class="fas fa-chevron-left"></i><% end %>
    </div>
    <div class="col-sm-6 home">
      <%= link_to root_path do %><i class="fas fa-home" %></i><% end %>
    </div>
  </div>
</div>


<!-- IMPLEMENT A MAP with the list of the barbers on the page -->
<div class="map"></div>
</div>
