<!-- Top titles -->
<div class="banner-title">
  <h1>Clean Kut's</h1>
  <p>Your barber around the corner</p>
</div>


<!-- Search bar -->
<div class="container">
  <input type="text" placeholder="Enter your postal code">
  <div class="search"></div>
</div>


<!-- Barber section -->
<div class="container barbers-container">
  <h2>Top 5 barbers near you</h2>

  <div class="barber-cards">
    <% @barbers.first(5).each do |barber| %>
      <div class="barber-card">
        <div class="barber-avatar">
          <% if barber.photo.attached? %>
            <%= cl_image_tag barber.photo.key, :class => "photo" %>
          <% else %>
            <%# <%= img src="missing.png" %> %>
          <% end %>
        </div>

        <div class="barber-infos">
          <h3><%= link_to barber.full_name, barber %></h3>
          <div class="description2"><p><%= barber.description %></p></div>
        </div>

        <div class="icons">
          <div class="row heart">
            <i class="fas fa-heart"></i>
          </div>
          <div class="row bubble">
            <i class="far fa-comment"></i>
          </div>
          <div class="row marker">
            <i class="fas fa-map-marker-alt"></i>
          </div>
        </div>

      </div>
    <% end %>

    <%# <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div> %>
  </div>
  <!--  end Deck of 5 cards-->
</div>


<!-- Map section -->
<div id="map"
  style="margin-left: 25%; margin-right: 25%; margin-top: 10%; width: 50%; height: 100px; border-radius: 8px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
