<div class="container nav1">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>CLEAN KUT'S</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 nomargin">
      <img src="https://source.unsplash.com/sS3qRFsKZlg/1600x900" class="image center">
    </div>
    </div>
  </div>
<!-- IMPLEMENT A SEARCH BAR -->
<!-- search bar -->
<div class="container location">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class=search-bars>
      <!-- search-bar -->
        <div  id="location">
        <p class="search">Search
          <i class="fas fa-search-location search_icon"></i>
        </p></div>
        <!--end search-bar -->
      </div>
    </div>
  </div>
</div>


<!-- part2 -->
<div class="part2">
<!--  Deck of 5 cards-->

      <h2> TOP 5 BARBERS NEAR YOU</h2>
    </div>
  </div>
</div>

<div >
  <% @barbers.first(5).each do |barber| %>

      <!-- on the left: side: image picture of the barber   -->


<!-- here -->


       <div class="card-product">
<div class="picture"><%= cl_image_tag barber.photo.key, :class => "photo" %></div>

       <div class="card-product-infos">

            <h2><%= link_to barber.full_name, barber %></h2>
            <div class="description2"><p><%= barber.description %></p>
            </div>

      <!-- in the middle: info to put in the card are: barber name barber.description barber.rating no rating so far -->
      </div>
    <div class="col-3">
       <div class="row heart">
        <i class="fas fa-heart"></i>
        <!-- bubble for chat with the barber -->
        </div>
        <div class="row bubble">
        <i class="far fa-comment"></i>
        <!-- marker to locate the barber on a map   -->
        </div>
        <div class="row marker">
        <i class="fas fa-map-marker-alt"></i>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
<% end %>
</div>
<!--  end Deck of 5 cards-->

<!-- IMPLEMENT A MAP with the list of the barbers on the page -->
 <div id="map"
    style="margin-left: 25%; margin-right: 25%; margin-top: 10%; width: 50%; height: 100px; border-radius: 8px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
